<div class="container wrapper wrapper2">
    <div class="card text-center">
        <div class="card-header">
            {{pokemonDetail?.name}}
        </div>
        <div class="card-body">
            <img [src]="pokemonDetail?.sprites?.front_default" alt="pokemon front"/>
            <img [src]="pokemonDetail?.sprites?.back_default" alt="pokemon back"/>
            <div class="row">
                <div class="col-4 border border-secondary">
                    Base Experience : {{pokemonDetail?.base_experience}}
                </div>
                <div class="col-4 border border-secondary">
                    Height : {{pokemonDetail?.height}}
                </div>
                <div class="col-4 border border-secondary">
                    Weight : {{pokemonDetail?.weight}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 border border-secondary">
                    Types : 
                    <ul *ngFor="let type of pokemonDetail?.types">
                        <li class="text-start">{{type.type?.name}}</li>
                    </ul>
                </div>
                <div class="col-4 border border-secondary">
                    Abilities : 
                    <ul *ngFor="let ab of pokemonDetail?.abilities">
                        <li class="text-start">{{ab?.ability?.name}}</li>
                    </ul>
                </div>
                <div class="col-4 border border-secondary">
                    Stats : 
                    <ul *ngFor="let stat of pokemonDetail?.stats">
                        <li class="text-start">{{stat?.stat?.name}} : {{stat?.base_stat}}</li>
                    </ul>
                </div>
                <div class="col-4 border border-secondary">
                    Moves : 
                    <ul *ngFor="let move of pokemonDetail?.moves">
                        <li class="text-start">{{move.move?.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="back()">Back</button>
        </div>
    </div>
</div>